/*
* driver for WUP-028 GameCube USB adapter CFPlugIn Bundle
* Copyright © 2015 Nathan Hjelm <hjelmn@cs.unm.edu>
*
* This bundle is free software; you can redistribute it and/or
* modify it under the terms of the GNU Lesser General Public
* License as published by the Free Software Foundation; either
* version 2.1 of the License, or (at your option) any later version.
*
* This bundle is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with this library; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
*/

    PRODUCT_NAME = 	gcusbrumble;
	WRAPPER_EXTENSION = bundle;
	INSTALL_PATH = "$(HOME)/Library/Bundles"
	INFOPLIST_FILE = gcusbrumble/Info.plist
	GCC_ENABLE_CPP_EXCEPTIONS = YES;
	GCC_ENABLE_CPP_RTTI = YES;
	GCC_SYMBOLS_PRIVATE_EXTERN = YES;
